@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #007AFF;
  --color-secondary: #FF3B30;
  --color-background: #FFFFFF;
  --color-text: #333333;

}

::-webkit-scrollbar {
    width: 10px;

  }

  ::-webkit-scrollbar-track {

    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3d373e97;
    border-radius: 20px;

  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #9c27b0;

  }